h1 {
    color: #700524;
    font-size 36px;
}
p {
    color: #5B484D;
    font-size: 18px;
    text-indent: 40px;
}
q {
    color: #943E57;
    font-size: 15px;
    font-style: italic;
    text-align: center;
}
